
# Created by https://www.gitignore.io/api/linux,c,c++,clion

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### CLion ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.gitignore.io/api/linux,c,c++,clion


# other stuff
/CMakeLists.txt
cmake-build*

optee_qemu/gen_rootfs/build/
optee_qemu/gen_rootfs/etc/hostname
optee_qemu/gen_rootfs/etc/inittab
optee_qemu/gen_rootfs/filelist-final.txt
optee_qemu/gen_rootfs/filelist-tee.txt
optee_qemu/gen_rootfs/filelist-tmp.txt
optee_qemu/gen_rootfs/filelist.tmp
optee_qemu/gen_rootfs/filesystem.cpio.gz
optee_qemu/gen_rootfs/rootfs-vexpress.cpio
optee_qemu/gen_rootfs/stage/
optee_qemu/hello_*/host/hello_*
optee_qemu/hello_*/ta/*-11e4-abe2-0002a5d5c51b.dmp
optee_qemu/hello_*/ta/*-2450-11e4-abe2-0002a5d5c51b.ta
optee_qemu/hello*/ta/ta.lds
optee_qemu/linux/arch/arm/boot/Image
optee_qemu/linux/arch/arm/boot/compressed/ashldi3.S
optee_qemu/linux/arch/arm/boot/compressed/bswapsdi2.S
optee_qemu/linux/arch/arm/boot/compressed/hyp-stub.S
optee_qemu/linux/arch/arm/boot/compressed/lib1funcs.S
optee_qemu/linux/arch/arm/boot/compressed/piggy.gzip
optee_qemu/linux/arch/arm/boot/compressed/vmlinux
optee_qemu/linux/arch/arm/boot/compressed/vmlinux.lds
optee_qemu/linux/arch/arm/boot/dts/vexpress-v2p-ca15-tc1.dtb
optee_qemu/linux/arch/arm/boot/dts/vexpress-v2p-ca15_a7.dtb
optee_qemu/linux/arch/arm/boot/dts/vexpress-v2p-ca5s.dtb
optee_qemu/linux/arch/arm/boot/dts/vexpress-v2p-ca9.dtb
optee_qemu/linux/arch/arm/boot/zImage
optee_qemu/linux/arch/arm/kernel/vmlinux.lds
optee_qemu/linux/arch/arm/vdso/vdso.lds
optee_qemu/linux/arch/arm/vdso/vdsomunge
optee_qemu/linux/drivers/tty/vt/consolemap_deftbl.c
optee_qemu/linux/drivers/tty/vt/defkeymap.c
optee_qemu/linux/drivers/video/logo/clut_vga16.c
optee_qemu/linux/drivers/video/logo/logo_blackfin_clut224.c
optee_qemu/linux/drivers/video/logo/logo_blackfin_vga16.c
optee_qemu/linux/drivers/video/logo/logo_dec_clut224.c
optee_qemu/linux/drivers/video/logo/logo_linux_clut224.c
optee_qemu/linux/drivers/video/logo/logo_linux_mono.c
optee_qemu/linux/drivers/video/logo/logo_linux_vga16.c
optee_qemu/linux/drivers/video/logo/logo_m32r_clut224.c
optee_qemu/linux/drivers/video/logo/logo_mac_clut224.c
optee_qemu/linux/drivers/video/logo/logo_parisc_clut224.c
optee_qemu/linux/drivers/video/logo/logo_sgi_clut224.c
optee_qemu/linux/drivers/video/logo/logo_spe_clut224.c
optee_qemu/linux/drivers/video/logo/logo_sun_clut224.c
optee_qemu/linux/drivers/video/logo/logo_superh_clut224.c
optee_qemu/linux/drivers/video/logo/logo_superh_mono.c
optee_qemu/linux/drivers/video/logo/logo_superh_vga16.c
optee_qemu/linux/kernel/config_data.h
optee_qemu/linux/lib/crc32table.h
optee_qemu/linux/lib/gen_crc32table
optee_qemu/linux/scripts/basic/bin2c
optee_qemu/linux/scripts/basic/fixdep
optee_qemu/linux/scripts/conmakehash
optee_qemu/linux/scripts/dtc/dtc
optee_qemu/linux/scripts/dtc/dtc-lexer.lex.c
optee_qemu/linux/scripts/dtc/dtc-parser.tab.c
optee_qemu/linux/scripts/dtc/dtc-parser.tab.h
optee_qemu/linux/scripts/kallsyms
optee_qemu/linux/scripts/kconfig/conf
optee_qemu/linux/scripts/kconfig/zconf.hash.c
optee_qemu/linux/scripts/kconfig/zconf.lex.c
optee_qemu/linux/scripts/kconfig/zconf.tab.c
optee_qemu/linux/scripts/mod/devicetable-offsets.h
optee_qemu/linux/scripts/mod/elfconfig.h
optee_qemu/linux/scripts/mod/mk_elfconfig
optee_qemu/linux/scripts/mod/modpost
optee_qemu/linux/scripts/pnmtologo
optee_qemu/linux/scripts/sortextable
optee_qemu/linux/usr/gen_init_cpio
optee_qemu/out/
optee_qemu/qemu/module_block.h
optee_qemu/qemu/pc-bios/optionrom/linuxboot_dma.bin
optee_qemu/qemu/pc-bios/optionrom/linuxboot_dma.img
optee_qemu/qemu/pc-bios/optionrom/linuxboot_dma.raw
optee_qemu/qemu/qemu-version.h
optee_qemu/qemu/qemu-version.h.tmp
optee_qemu/qemu/roms/seabios/
optee_qemu/qemu/roms/vgabios/
optee_qemu/qemu/tests/qemu-iotests/common.env
optee_qemu/qemu/tests/qemu-iotests/socket_scm_helper
optee_qemu/qemu/tests/test-qapi-event.h
optee_qemu/qemu/tests/test-qapi-types.h
optee_qemu/qemu/tests/test-qapi-visit.h
optee_qemu/qemu/tests/test-qmp-commands.h
optee_qemu/qemu/tests/test-qmp-introspect.h
optee_qemu/qemu/trace-events-all
